// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.items_block { 
  clear:both;
}

div.listed_item p { 

  float:left;
  margin: 2%;
}

div.listed_item { 
clear:both;
}

